# SPDX-FileCopyrightText: 2021 MatteoGodzilla
#
# SPDX-License-Identifier: GPL-3.0-or-later
Checks: '
bugprone-*,
misc-*,
modernize-*,
-modernize-use-trailing-return-type,
performance-*,
readability-*,
-readability-else-after-return,
-readability-implicit-bool-conversion,
-readability-magic-numbers,
-readability-uppercase-literal-suffix,
'
