# Build files and folder
build/
*.dll
*.exe
Dj-Engine

# Visual Studio Code
.vscode/

# Local songs folder
songs/*
!songs/Drag\ &\ Drop\ songs\ here.txt

# Vim
*.swp

# local log files
error.txt
error.log
log.txt
log.log